html {
    background-image: url('images/background.gif');
    height: 100%;
}

* {
    font-family: sans-serif;
    color: cyan;
    cursor: url('images/cursor/frame1.png'), auto;
    -webkit-animation: cursor 400ms infinite;
    animation: cursor 400ms infinite;
}

@-webkit-keyframes cursor {
  0% {cursor: url('images/cursor/frame1.png'), auto;}
  33% {cursor: url('images/cursor/frame2.png'), auto;}
  67% {cursor: url('images/cursor/frame3.png'), auto;}
  100% {cursor: url('images/cursor/frame4.png'), auto;}
} 

@keyframes cursor {
  0% {cursor: url('images/cursor/frame1.png'), auto;}
  33% {cursor: url('images/cursor/frame2.png'), auto;}
  67% {cursor: url('images/cursor/frame3.png'), auto;}
  100% {cursor: url('images/cursor/frame4.png'), auto;}
}

.container {
    margin: auto;
    width: 90%;
    border: 3px dashed green;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.5em;
}

#moon {
    height: 100%;
    width: auto;
}
